header{
    background-color: var(--color-scheme-background);
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

header .title{
    display: flex;
    align-items: center; 
    gap: 16px;
}

header a{
    color: white;
}


main{
    display: flex;
    flex: 1;
    align-items: flex-start;
}

main > div{
    padding: 24px;
    flex: 1;
}