.cvEditor{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cvEditor > div {
    border: 2px solid;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sectionHeader{
    display: flex;
    align-items: center;
}


.editGeneralInfo legend,
.sectionTitle{
    font-size: 2em;
    color: var(--color-scheme-dark);
    font-weight: bold;
    flex: 1;
}

.editGeneralInfo > fieldset{
    border-radius: 16px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 24px;
}

textarea{
    resize: none;
}

.cvEditor .addItemBtn{
    background-color: var(--color-scheme-background);
    border-radius: 50%;
    font-size: 2em;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*  */