.cvEditor{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cvEditor > div {
    border: 2px solid var(--color-scheme-border-dark);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

}

.description{
    resize: none;
    grid-column: span 2;
}

.cvEditor .addItemBtn{
    background-color: var(--color-button-click);
    border-radius: 50%;
    font-size: 2.5em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
}

.addItemBtn:hover{
    cursor: pointer;
    background-color: var(--color-scheme-background);
}


.sectionHeader{
    display: flex;
    align-items: center;
}

form{
    display: grid;
}


input, 
textarea{
    border: 2px solid var(--color-scheme-border-light);
    border-radius: 4px;
    padding: 8px;
    font-size: 1em;
}

select{
    padding: 4px 8px;
    font-size: 1em;
}

.startDate, .endDate{
    display: flex;
    gap: 8px;
    align-items: center;
}

input:focus, 
textarea:focus {
    outline: none;
    border-color: var(--color-scheme-border-dark);
}

.sectionTitle{
    font-size: 1.6em;
    color: var(--color-scheme-dark);
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
}


.editExperience > form,
.editProjects > form,
.editEducation > form{
    /* display: grid; */
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}


.submitAddItemBtn,
.cancelAddItemBtn{
    font-size: 1.4em;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.cancelAddItemBtn:hover{
    cursor: pointer;
}

.submitAddItemBtn{
    background-color: var(--color-button-click);
    color: white;
}

.submitAddItemBtn:hover{
    background-color: var(--color-scheme-background);
    cursor: pointer;
}


.editGeneralInfo > fieldset,
.editSkills > fieldset{
    border-radius: 16px;
    border: 2px solid var(--color-scheme-border-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
}

.editGeneralInfo legend,
.editSkills legend{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.6em;
    color: var(--color-scheme-dark);
    font-weight: bold;
    flex: 1;
    padding: 0 8px;
}