.editExperience form .companyName{
    grid-column: span 2;
}

.experienceList .experienceDetails{
    .jobRole{
        grid-column: span 2;
        font-size: 1.4em;
        color: var(--color-scheme-dark);
    }

    .companyLocation{
        justify-self: end;
    }
}
